
CRAU/CRAU/CRAU/bin/Debug/CRAU.exe
CRAU/CRAU/CRAU/bin/Debug/CRAU.exe.config
CRAU/CRAU/CRAU/bin/Debug/CRAU.pdb
CRAU/CRAU/CRAU/bin/Debug/CRAU.xml
CRAU/CRAU/CRAU/bin/Debug/EnvDTE.dll
CRAU/CRAU/CRAU/bin/Debug/FontAwesome.Sharp.dll
CRAU/CRAU/CRAU/bin/Debug/de/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/de/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/de/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/de/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/es/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/es/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/es/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/es/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/fr/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/fr/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/fr/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/fr/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/it/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/zh-CHT/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/zh-CHT/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/zh-CHT/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/zh-CHT/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/zh-CHS/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/zh-CHS/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/zh-CHS/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/stdole.dll
CRAU/CRAU/CRAU/bin/Debug/SqlServerTypes/x86/SqlServerSpatial140.dll
CRAU/CRAU/CRAU/bin/Debug/SqlServerTypes/x86/msvcr120.dll
CRAU/CRAU/CRAU/bin/Debug/SqlServerTypes/x64/SqlServerSpatial140.dll
CRAU/CRAU/CRAU/bin/Debug/SqlServerTypes/x64/msvcr120.dll
CRAU/CRAU/CRAU/bin/Debug/ru/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ru/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ru/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/pt/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/pt/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/pt/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.VisualStudio.TextManager.Interop.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.VisualStudio.TextManager.Interop.8.0.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.VisualStudio.Shell.Interop.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.VisualStudio.Shell.Interop.8.0.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.VisualStudio.OLE.Interop.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.SqlServer.Types.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.ReportViewer.WinForms.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.ReportViewer.Design.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.ReportViewer.DataVisualization.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.ReportViewer.Common.dll
CRAU/CRAU/CRAU/bin/Debug/ja/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ja/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ko/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ko/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ko/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ja/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ja/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/bin/Debug/it/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/CRAU/CRAU/bin/Debug/it/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/it/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/zh-CHS/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/CRAU/CRAU/bin/Debug/ru/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/pt/Microsoft.ReportViewer.Design.resources.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.ReportViewer.ProcessingObjectModel.dll
CRAU/CRAU/CRAU/bin/Debug/Microsoft.MSXML.dll
CRAU/CRAU/CRAU/bin/Debug/ko/Microsoft.ReportViewer.Common.resources.dll
CRAU/CRAU/CRAU/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
CRAU/CRAU/CRAU/obj/Debug/CRAU.exe
CRAU/CRAU/CRAU/obj/Debug/CRAU.Login.resources
CRAU/CRAU/CRAU/obj/Debug/CRAU.pdb
CRAU/CRAU/CRAU/obj/Debug/CRAU.Productos.resources
CRAU/CRAU/CRAU/obj/Debug/CRAU.Resources.resources
CRAU/CRAU/CRAU/obj/Debug/CRAU.vbproj.FileListAbsolute.txt
CRAU/CRAU/CRAU/obj/Debug/CRAU.vbproj.GenerateResource.cache
CRAU/CRAU/CRAU/obj/Debug/CRAU.vbprojAssemblyReference.cache
CRAU/CRAU/CRAU/obj/Debug/CRAU.xml
CRAU/CRAU/CRAU/obj/Debug/CRAU.vbproj.CoreCompileInputs.cache
CRAU/CRAU/CRAU/obj/Debug/CRAU.vbproj.AssemblyReference.cache
CRAU/CRAU/CRAU/obj/Debug/CRAU.ProductoCRUB.resources
CRAU/CRAU/CRAU/obj/Debug/CRAU.Menu.resources
CRAU/CRAU/CRAU/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CRAU/CRAU/CRAU/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CRAU/CRAU/CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/CRAU/CRAU/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
CRAU/CRAU/CRAU/obj/Release/CRAU.vbprojAssemblyReference.cache
.vs/CRAU/v16/.suo
CRAU/bin/Debug/CRAU.pdb
CRAU/bin/Debug/CRAU.xml
CRAU/bin/Debug/de/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/de/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/de/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/de/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/EnvDTE.dll
CRAU/bin/Debug/es/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/es/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/es/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/es/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/FontAwesome.Sharp.dll
CRAU/bin/Debug/fr/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/fr/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/fr/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/fr/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/it/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/it/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/it/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/it/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/ja/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/ja/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/ja/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/ja/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/ko/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/ko/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/ko/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/ko/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/Microsoft.MSXML.dll
CRAU/bin/Debug/Microsoft.ReportViewer.Common.dll
CRAU/bin/Debug/Microsoft.ReportViewer.DataVisualization.dll
CRAU/bin/Debug/Microsoft.ReportViewer.Design.dll
CRAU/bin/Debug/Microsoft.ReportViewer.ProcessingObjectModel.dll
CRAU/bin/Debug/Microsoft.ReportViewer.WinForms.dll
CRAU/bin/Debug/Microsoft.SqlServer.Types.dll
CRAU/bin/Debug/pt/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/pt/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/Microsoft.VisualStudio.TextManager.Interop.dll
CRAU/bin/Debug/Microsoft.VisualStudio.Shell.Interop.dll
CRAU/bin/Debug/Microsoft.VisualStudio.OLE.Interop.dll
CRAU/bin/Debug/Microsoft.VisualStudio.Shell.Interop.8.0.dll
CRAU/bin/Debug/Microsoft.VisualStudio.TextManager.Interop.8.0.dll
CRAU/bin/Debug/pt/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/pt/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/ru/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/ru/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/stdole.dll
CRAU/bin/Debug/SqlServerTypes/x86/SqlServerSpatial140.dll
CRAU/bin/Debug/SqlServerTypes/x86/msvcr120.dll
CRAU/bin/Debug/SqlServerTypes/x64/SqlServerSpatial140.dll
CRAU/bin/Debug/SqlServerTypes/x64/msvcr120.dll
CRAU/bin/Debug/ru/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/ru/Microsoft.ReportViewer.Design.resources.dll
CRAU/obj/Debug/CRAU.xml
CRAU/obj/Debug/CRAU.vbproj.GenerateResource.cache
CRAU/obj/Debug/CRAU.vbproj.FileListAbsolute.txt
CRAU/obj/Debug/CRAU.vbproj.CoreCompileInputs.cache
CRAU/obj/Debug/CRAU.vbproj.AssemblyReference.cache
CRAU/obj/Debug/CRAU.vbproj.CopyComplete
CRAU/obj/Debug/CRAU.Resources.resources
CRAU/obj/Debug/CRAU.Productos.resources
CRAU/obj/Debug/CRAU.pdb
CRAU/obj/Debug/CRAU.ProductoCRUB.resources
CRAU/obj/Debug/CRAU.Menu.resources
CRAU/obj/Debug/CRAU.Login.resources
CRAU/obj/Debug/CRAU.exe
CRAU/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
CRAU/bin/Debug/zh-CHT/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/zh-CHT/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/zh-CHT/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/zh-CHT/Microsoft.ReportViewer.Common.resources.dll
CRAU/bin/Debug/zh-CHS/Microsoft.ReportViewer.WinForms.resources.dll
CRAU/bin/Debug/zh-CHS/Microsoft.ReportViewer.Design.resources.dll
CRAU/bin/Debug/zh-CHS/Microsoft.ReportViewer.DataVisualization.resources.dll
CRAU/bin/Debug/zh-CHS/Microsoft.ReportViewer.Common.resources.dll
CRAU/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CRAU/bin/Debug/CRAU.exe.config
CRAU/bin/Debug/CRAU.exe
CRAU/obj/Debug/DesignTimeResolveAssemblyReferences.cache
packages/FontAwesome.Sharp.5.15.3/.signature.p7s
packages/FontAwesome.Sharp.5.15.3/FontAwesome.Sharp.5.15.3.nupkg
packages/FontAwesome.Sharp.5.15.3/lib/net40/FontAwesome.Sharp.dll
packages/FontAwesome.Sharp.5.15.3/lib/net45/FontAwesome.Sharp.dll
packages/FontAwesome.Sharp.5.15.3/lib/net472/FontAwesome.Sharp.dll
packages/FontAwesome.Sharp.5.15.3/lib/net48/FontAwesome.Sharp.dll
packages/FontAwesome.Sharp.5.15.3/lib/netcoreapp3.1/FontAwesome.Sharp.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/.signature.p7s
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/de/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/de/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/de/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/de/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/es/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/es/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/es/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/es/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/fr/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/fr/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/fr/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/fr/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/it/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/it/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/it/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/it/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ja/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ja/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ja/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ja/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ko/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ko/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ko/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ko/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.Common.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.DataVisualization.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.Design.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.ProcessingObjectModel.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.WinForms.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/pt/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/pt/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/pt/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/pt/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ru/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ru/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ru/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/ru/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/zh-CHS/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/zh-CHS/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/zh-CHS/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/zh-CHS/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/zh-CHT/Microsoft.ReportViewer.Common.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/zh-CHT/Microsoft.ReportViewer.DataVisualization.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/zh-CHT/Microsoft.ReportViewer.Design.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/lib/net40/zh-CHT/Microsoft.ReportViewer.WinForms.resources.dll
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/license/License_ReportViewer.rtf
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/license/ThirdPartyNotices_ReportViewer.txt
packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0.nupkg
packages/Microsoft.SqlServer.Types.14.0.314.76/.signature.p7s
packages/Microsoft.SqlServer.Types.14.0.314.76/content/SqlServerTypes/Loader.cs
packages/Microsoft.SqlServer.Types.14.0.314.76/content/SqlServerTypes/readme.htm
packages/Microsoft.SqlServer.Types.14.0.314.76/lib/net40/Microsoft.SqlServer.Types.dll
packages/Microsoft.SqlServer.Types.14.0.314.76/license/license_SysClrTypes.rtf
packages/Microsoft.SqlServer.Types.14.0.314.76/Microsoft.SqlServer.Types.14.0.314.76.nupkg
packages/Microsoft.SqlServer.Types.14.0.314.76/nativeBinaries/x64/msvcr120.dll
packages/Microsoft.SqlServer.Types.14.0.314.76/nativeBinaries/x64/SqlServerSpatial140.dll
packages/Microsoft.SqlServer.Types.14.0.314.76/nativeBinaries/x86/msvcr120.dll
packages/Microsoft.SqlServer.Types.14.0.314.76/nativeBinaries/x86/SqlServerSpatial140.dll
packages/Microsoft.SqlServer.Types.14.0.314.76/tools/install.ps1
packages/Microsoft.SqlServer.Types.14.0.314.76/tools/uninstall.ps1
CRAU/obj/Debug/CRAU.VehiculoCRUB.resources
CRAU/obj/Debug/CRAU.Vehiculos.resources
CRAU/obj/Debug/CRAU.vbprojAssemblyReference.cache
CRAU/obj/Debug/CRAU.CategoriaCRUB.resources
CRAU/obj/Debug/CRAU.FamiliaCRUB.resources
CRAU/obj/Debug/CRAU.MarcaCRUB.resources
CRAU/obj/Debug/CRAU.MedidasCRUB.resources
*.dll
*.exe
*.pdb
*.resources
CRAU/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
CRAU/bin/Release/CRAU.exe.config
CRAU/bin/Release/CRAU.xml
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
*.cache
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Release/CRAU.vbproj.CopyComplete
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Release/CRAU.vbproj.FileListAbsolute.txt
CRAU/obj/Release/CRAU.xml
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
*.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
*.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CRAU/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
